header.blog {
    position: relative;
    display: block;
    height: 95vh;

    @include bgCenterCoverNoRepeat(url("../assets/blog-1.jpeg"));
    background-position: top;

    @include breakpointStyling (large) {
        height: 75vh;
    }
    @include breakpointStyling (medium) {
        height: 65vh;
    }
    @include breakpointStyling (small) {
        height: 55vh;
    }
}