header.contact {
    img {
        position:relative;
        z-index: -10;
        min-height: 100px;
        object-fit: cover;
        object-position: left;
        &:hover {
            transform: none;
        }
    }

    .textContainer {
        padding: 0;
    }

    .divisionLine {
        position: relative;
        z-index: -10;
        top: -100px;

        border: 1px solid $solidBlack;
        width: 32px;
    }

    h2 {
        position: relative;
        top: -3.1 * $baseFontSize;

        z-index: -10;

        font-size: 2.1 * $baseFontSize;
        font-weight: bold;
        word-spacing: 9999rem;
    }
}