header.contact {

    img {
        min-height: 100px;
        object-fit: cover;
        object-position: left;
        &:hover {
            transform: scale(1);
        }
    }

    .textContainer {
        padding: 0;
    }

    .divisionLine {
        position: relative;
        top: -100px;

        border: 1px solid $solidBlack;
        width: 32px;
    }

    h2 {
        position: relative;
        top: -3.1 * $baseFontSize;

        font-size: 2.1 * $baseFontSize;
        font-weight: bold;
        word-spacing: 9999rem;

    }

}