header.index {
    @include bgCenterCoverNoRepeat(url("../assets/home-1.jpeg"));
    
    position: relative;
    display: block;
    height: 95vh;

    @include breakpointStyling (large) {
        height: 75vh;
    }
    @include breakpointStyling (medium) {
        height: 65vh;
    }
    @include breakpointStyling (small) {
        height: 55vh;
    }

    // Styles vertical line for visual flair only
    &::after {
        content:'';
        position: absolute;
        left: 50%;
        bottom: 0%;

        transform: translate(-50%, 50%);

        display: block;
        z-index: 20;

        height: 15vw;
        width: 1px;
        background-color: $grey;
    }
}
