main.index {
    section {
        padding: 150px 0;
    }

    .imageContainer,
    .textContainer {
        padding-top: 50px;
        // padding-bottom: 50px;
    }
}

section.sectionBranding {
    padding-top: 200px;

    background-color: $themeGreen;

    .wrapper {
        @include flexCol;
        justify-content: center;
        align-items: center;
    }

    .imageContainer {
        position: relative;
        margin: 0 auto;

        @include flexCol;
        align-items: center;

        img:first-child {
            position: absolute;
            top: -64px;
            left: -96px;
        }

        img:last-child {
            width: 50vw;
            max-width: 500px;
        }
    }

    .contentContainer {
        width: 80%;

        @include flexRow;
        justify-content: center;
        gap: 5vw;

    }

    .textContainer {
        max-width: 400px;
        text-align: center;
    }
}

section.sectionCarousel {
    .wrapper {
        @include flexRow;
        justify-content: space-between;
        align-items: center;
    }

    i {
        font-size: 1.6 * $baseFontSize;

        &:last-of-type {
            color: $grey;
        }
    }

    .contentContainer {
        @include flexCol;
        justify-content: center;
        align-items: center;

        width: 80%;
        max-width: 1000px;
    }

    img {
        max-width: 300px;
        border-radius: 50%;
    }

    p {
        margin-top: 50px;
        color: $grey;
        text-align: center;
    }
}

section.sectionOfferings {
    @include bgCenterCoverNoRepeat(url("../assets/home-4.jpeg"));
    
    .wrapper {
        width: 45%;
        margin-left: 50%;
        margin-right: auto;

        @include flexRow;
        flex-wrap: wrap;
        gap: 45px;
    }

    .contentContainer {
        flex-basis: calc(50% - 45px);
        padding-top: 1.6 * $baseFontSize;
        @include flexRow;
        justify-content: space-evenly
    }

    .iconContainer {
        @include flexRow;
        justify-content: center;
        align-items: center;

        width: 3.2 * $baseFontSize;
        height: 3.2 * $baseFontSize;
        border-radius: 50%;
        border: 0.1 * $baseFontSize solid $solidBlack;

        i {
            display: block;
            font-size: 1.6 * $baseFontSize;
            text-align: center;
            width: 3.2 * $baseFontSize;
            height: 1.6 * $baseFontSize;
        }
        
    }

    .textContainer {
        padding: 0 0 0 40px;
        h3 {
            margin: 0;
        }
    }

}