img {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

a {
    color: $solidBlack;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}


.button {
    display: inline-block;
    padding: 20px 35px;

    background-color: $solidWhite;
    font-family: $headingFont;
    font-size: 0.7*$baseFontSize;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}