* {
    transition-property: background-color, filter, border, transform;
    transition-duration: 0.3s; 
}

img {
    max-width: 100%;
    display: block;
    &:hover {
        transform: scale(1.05);
    }
}

.wrapper {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

section {
    padding: 150px 0px 100px;
}

.imageContainer,
.textContainer {
    display: block;
    padding-top: 48px;
    padding-bottom: 48px;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

input[type=email],
input[type=text] {
    border: none;
    padding: 10px;

    font-family: $bodyFont;
    font-size: 0.7 * $baseFontSize;
}

textarea {
    border: none;
    padding: 10px;

    font-family: $bodyFont;
    font-size: 0.7 * $baseFontSize;
}

.sectionLargeForm {
    form {
        @include flexRow;
        ;
        flex-wrap: wrap;
        gap: 36px;
    }

    input {
        margin-top: 40px;
        flex-basis: calc((100% - 72px) / 3);

    }

    textarea {
        min-height: 2 * $baseFontSize;
        flex-basis: 100%;
        border: none;
    }

    input,
    textarea {
        border-bottom: 1px solid $grey;
        opacity: 0.7;
    }

    .divisionLine {
        margin-top: 5px;
    }
}

button {
    @include flexRow;
    justify-content: center;
    align-items: center;

    border: 2px solid rgba(0,0,0,0);
    padding: 10px;
}

.button {
    display: block;
    padding: 20px 35px;

    background-color: $solidWhite;
    font-family: $headingFont;
    font-size: 0.7*$baseFontSize;

    text-align: center;

    &:hover, &:focus {
        background-color: $offWhite;
    }
}

.divisionLine, .borderBottom {
    border-bottom: 1px solid $grey;
}

