img {
    max-width: 100%;
    display: block;
}

.wrapper {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

a {
    color: $solidBlack;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}

input[type=email], input[type=text] {
    border: none;
    padding: 10px;

    font-family: $bodyFont;
    font-size: 0.7 * $baseFontSize;
}

button {
    @include flexRow;
    justify-content: center;
    align-items: center;

    border: 2px solid rgba(0,0,0,0);
    padding: 10px;
}

.button {
    display: block;
    padding: 20px 35px;

    background-color: $solidWhite;
    font-family: $headingFont;
    font-size: 0.7*$baseFontSize;

    text-align: center;

    &:hover, &:focus {
        background-color: $offWhite;
    }
}

.divisionLine, .borderBottom {
    border-bottom: 1px solid $grey;
}

.transparentBG {
    background: rgba(0, 0, 0, 0);
}