footer {
    /*#region GENERAL FOOTER STYLING*/
    background-color: $offBlack;
    padding-top: 75px;
    @include breakpointStyling (large) {
        padding-top: 25px;
    }

    .wrapper {
        @include flexRow;
        justify-content: space-between;

        // Change footer components to a column layout on large breakpoint
        @include breakpointStyling (large) {
            flex-direction: column;
            align-items: center;
        }
    }

    h4 a,
    p {
        color: $solidWhite;
        margin: 0;
    }
    /*#endregion GENERAL FOOTER STYLING*/

    
    // CONTACT DIV STYLING
    .divContact {
        flex: 1;
        text-align: left;
        @include breakpointStyling (large) {
            text-align: center;
        }

        .textContainer {
            padding-bottom: 0;
        }

        .iconContainer ul {
            @include flexRow;
            justify-content: flex-start;
            @include breakpointStyling (large) {
                justify-content: center;
            }
            li {
                margin-right: 0.6 * $baseFontSize;
            }
            i {
                color: $solidWhite;
            }
        }
    }


    // RECENT POSTS DIV STYLING
    .divRecent {
        h4 {
            text-align: center;
        }

        * + li {
            margin-top: 0.5 * $baseFontSize;
        }
        
        p {
            text-align: left;
        }

        // Re-styling bullet points, from: https: //www.w3schools.com/howto/howto_css_bullet_color.asp
        p::before {
            content: '\2022';
            display: inline-block;
            width: 0.7 * $baseFontSize;
            margin-left: 0.7 * $baseFontSize;
        }
    }


    // SUBSCRIBE NOW DIV STYLING
    .divSubscribe {
        flex: 1;
        text-align: right;
        @include breakpointStyling (large) {
            text-align: center;
        }

        .textContainer {
            padding-bottom: 24px;
            @include breakpointStyling (large) {
                padding-top: 0;
            }
        }

        p {
            display: inline-block;
            padding-left: 0.6 * $baseFontSize;
            margin-top: 20px;
        }

        form {
            @include flexRow;
            justify-content: flex-end;
            @include breakpointStyling (large) {
                justify-content: center;
                padding-bottom: 50px;
            }
            align-items: stretch;
        }

        button {
            background-color: $themeGreen;

            &:hover {
                filter: brightness(85%);
            }
            &:focus {
                border: 2px solid orange;
            }
        }
    }
    
    
    // END OF FOOTER TEXT STYLING
    & > .textContainer {
        text-align: center;
        h4 {
            padding: 0px 2*$baseFontSize;
            color: $solidWhite;
        }
    }
}