footer {
    background-color: $offBlack;
    padding-top: 125px;

    .wrapper {
        @include flexRow;
        justify-content: space-between;
    }

    h4 a,
    p {
        color: $solidWhite;
        margin: 0;
    }

    .divContact {
        flex: 1;
        text-align: left;
        .textContainer {
            padding-bottom: 0;
        }
    }

    .iconContainer ul {
        @include flexRow;
        justify-content: flex-start;
        li {
            margin-right: 0.6 * $baseFontSize;
        }
        i {
            color: $solidWhite;
        }
    }
    

    .divRecent {

        h4 {
            text-align: center;
        }

        * + li {
            margin-top: 0.5 * $baseFontSize;
        }
        
        p {
            text-align: left;
        }

        // Re-styling bullet points rom: https: //www.w3schools.com/howto/howto_css_bullet_color.asp
        p::before {
            content: '\2022';
            display: inline-block;
            width: 0.7 * $baseFontSize;
            margin-left: 0.7 * $baseFontSize;
        }
    }

    .divSubscribe {
        flex: 1;
        text-align: right;

        p {
            display: inline-block;
            margin-top: 20px;
        }

        form {
            @include flexRow;
            justify-content: flex-end;
            align-items: stretch;
        }

        button {
            background-color: $themeGreen;

            &:hover {
                filter: brightness(85%);
            }
            &:focus {
                border: 2px solid orange;
            }
        }
    }
    
    & > .textContainer {
        text-align: center;
        h4 {
            color: $solidWhite;
        }
    }

}