footer {
    background-color: $offBlack;
    padding-top: 125px;

    .wrapper {
        @include flexRow;
        justify-content: space-between;
    }

    h4 a,
    p {
        color: $solidWhite;
        margin: 0;
    }

    .divContact {
        flex: 1;
        text-align: left;
        .textContainer {
            padding-bottom: 0;
        }
    }

    .iconContainer ul {
        @include flexRow;
        justify-content: flex-start;
        li {
            padding-right: 12px;
        }
        i {
            color: $solidWhite;
        }
    }
    

    .divRecent {

        h4 {
            text-align: center;
        }

        * + li {
            margin-top: 0.5 * $baseFontSize;
        }
        
        p {
            text-align: left;
        }

        // Re-styling bullet points rom: https: //www.w3schools.com/howto/howto_css_bullet_color.asp
        p::before {
            content: '\2022';
            display: inline-block;
            width: 0.7 * $baseFontSize;
            margin-left: 0.7 * $baseFontSize;
        }
    }

    .divWidget {
        flex: 1;
        text-align: right;

        p {
            display: inline-block;
            margin-top: 20px;
        }

        form {
            @include flexRow;
            justify-content: flex-end;
            align-items: stretch;
        }

        input[type=email] {

            border: none;
            padding: 10px;

            font-family: $bodyFont;
            font-size: 0.7 * $baseFontSize;
        }

        button {
            cursor: pointer;

            @include flexRow;
            justify-content: center;
            align-items: center;

            background-color: $themeGreen;
            border: none;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    
    & > .textContainer {
        display: block;
        border-top: 2px solid $grey;
        text-align: center;
        margin-top: 50px;
    }

}