nav {
    /*#region GENERAL NAV STYLING*/
    // >position: absolute; allows for transparency with the header
    &.index, &.blog {
        position: absolute;
    }
    // >position: relative; allows for footprint and is necessary to declare to avoid z-index issues
    &.contact {
        position: relative;
    }

    width: 100%;
    text-transform: uppercase;
    z-index: 30;

    label {
        @include flexCol;
        justify-content: center;
        align-items: flex-start;
    }

    li {
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        
        &:hover, &:focus {
            border-bottom: 1px solid grey;
        }
    }
    /*#endregion GENERAL NAV STYLING*/


    /*#region HAMBURGER BUTTON and SLIDEOUT MENU STYLING*/
    // Hamburger Menu Button
    .hamburgerMenu {
        // Hide hamburger button offscreen until the breakpoint 
        position: fixed;
        top: 0;
        left: -100px;

        @include breakpointStyling(medium) {
            left: 0;
        }

        margin-top: 1vh;
        margin-left: 1vh;
        padding: 15px;
        border-radius: 10px;
        border: 1px solid $grey;
        box-shadow: 0px 0px 3px $grey;

        background-color: rgba(255, 255, 255, 0.5);

        i {
            font-size: 1.8 * $baseFontSize;
        }

        h2 {
            margin-bottom: 1.25vh;
        }

        input[type=checkbox] {
            opacity: 0;
            position: absolute;
        }
    }

    // Bring out slideout menu when the input is checked
    input[type=checkbox]:checked ~ .slideoutMenu{
        left: 0px;
    }

    // Slideout Menu Styling
    .slideoutMenu {
        position: fixed;
        top: 0;
        left: -320px;
        z-index: 20;

        transition: left 0.5s;

        background-color: $offWhite;

        height: 100vh;
        width: 320px;
        border-right: 2px solid $grey;
        box-shadow: 1px 0px 1px $grey;
        padding-top: calc(1vh + 20px);
        padding-left: calc(1vh + 20px);

        label {
            display: inline;
        }

        i {
            margin-bottom: 5vh;
        }
    }

    .slideoutMenu ul {
        @include flexCol;
        align-items: flex-start;
        margin: 0;

        li {
            width: 60%;
            margin-top: 2vh;
        }

        .divisionLine {
            width: 80%;
            padding: 1vh 0;
            border-width: 2px;
        }

        // Styling for the "Shopping" menu item
        li:last-child {
            a {
                position: relative;
            }

            // Element for the number after "Shopping"
            a::after {
                content: '2';
        
                position: absolute;
                top: 0.1 * $baseFontSize;
                right: -25%;

                @include flexRow;
                justify-content: center;
                align-items: center;
        
                width: 0.6*$baseFontSize;
                height: 0.6*$baseFontSize;
                border-radius: 50%;
                background-color: $themeGreen;
        
                font-family: $bodyFont;
                font-size: 0.5*$baseFontSize;
                font-weight: bold;
            }
        }
    }
    /*#endregion HAMBURGER BUTTON and SLIDEOUT MENU STYLING*/


    /*#region STANDARD NAV BAR STYLING*/
    // Elements are shifted at the large breakpoint, and hidden on the medium breakpoint
    .wrapper, ul {
        @include flexRow;
        justify-content: space-between;
        align-items: center;

        h1 {
            @include breakpointStyling(large) {
                margin: 3vh 0;
            }
            @include breakpointStyling(medium) {
                margin-left: calc(1vh + 64px);
            }
        }
    }

    .wrapper {
        ul:first-of-type li, 
        ul:last-of-type li {
            flex: 1;

            @include breakpointStyling(medium) {
                display: none;
            }
        }
    }

    .wrapper ul:first-of-type li {
        margin-right: 36px;
        @include breakpointStyling(large) {
            margin-right: 24px;
        }
    }

    .wrapper ul:last-of-type li {
        margin-left: 36px;
        @include breakpointStyling(large) {
            margin-left: 24px;
        }

        &:last-child{
            position: relative;

            // Element for the number next to the shopping bag icon
            &::after {
                content: '2';
                position: absolute;
                right: -50%;
                bottom: -25%;
            
                @include flexRow;
                justify-content: center;
                align-items: center;
            
                width: 0.6*$baseFontSize;
                height: 0.6*$baseFontSize;
                border-radius: 50%;
                background-color: $themeGreen;
            
                font-family: $bodyFont;
                font-size: 0.5*$baseFontSize;
                font-weight: bold;
            }
        }
    }
    /*#endregion STANDARD NAV BAR STYLING*/
}