// Font Families
$headingFont: "Montserrat";
$bodyFont: "Open Sans";

// Font Size
$baseFontSize: 1rem;

// Colours
$themeGreen: #C3DAB7;
$solidWhite: #FFFFFF;
$offWhite: #F6F6F6;
$grey: #808080;
$darkGrey: #646464;
$offBlack: #333333;
$solidBlack: #000000;