@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  -webkit-transition-property: background-color, border, width, top, left, padding, margin, -webkit-filter, -webkit-transform;
  transition-property: background-color, border, width, top, left, padding, margin, -webkit-filter, -webkit-transform;
  transition-property: background-color, filter, border, transform, width, top, left, padding, margin;
  transition-property: background-color, filter, border, transform, width, top, left, padding, margin, -webkit-filter, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

img {
  max-width: 100%;
  display: block;
}
img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.wrapper {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
  .wrapper {
    width: 90%;
  }
}

section {
  padding: 150px 0px 100px;
}

.imageContainer,
.textContainer {
  display: block;
  padding-top: 48px;
  padding-bottom: 48px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

input[type=email],
input[type=text] {
  border: none;
  padding: 10px;
  font-family: "Open Sans";
  font-size: 0.7rem;
}

textarea {
  border: none;
  padding: 10px;
  font-family: "Open Sans";
  font-size: 0.7rem;
}

.sectionLargeForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 36px;
}
.sectionLargeForm input {
  margin-top: 40px;
  -ms-flex-preferred-size: calc((100% - 72px) / 3);
      flex-basis: calc((100% - 72px) / 3);
}
.sectionLargeForm textarea {
  min-height: 2rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border: none;
}
.sectionLargeForm input,
.sectionLargeForm textarea {
  border-bottom: 1px solid #808080;
  opacity: 0.7;
}
.sectionLargeForm .divisionLine {
  margin-top: 5px;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 10px;
}

.button {
  display: block;
  padding: 20px 35px;
  background-color: #FFFFFF;
  font-family: "Montserrat";
  font-size: 0.7rem;
  text-align: center;
}
.button:hover, .button:focus {
  background-color: #F6F6F6;
}

.divisionLine, .borderBottom {
  border-bottom: 1px solid #808080;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
html {
  font-size: 125%;
}

h1, h2, h3, h4, nav {
  font-family: "Montserrat";
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
}

h1 {
  font-size: 1.85rem;
  font-weight: bold;
  letter-spacing: 0.045rem;
  margin: 5vh 0 4vh 0;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

h4 {
  font-size: 0.9rem;
}

nav {
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
}

p {
  font-family: "Open Sans";
  font-size: 0.7rem;
  font-weight: normal;
  line-height: 1.2rem;
  letter-spacing: 0.015rem;
}

.grey {
  color: #808080;
}

.darkGrey {
  color: #646464;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.uppercase {
  text-transform: uppercase;
}

.spaced {
  letter-spacing: 0.45rem;
}

nav {
  /*#region GENERAL NAV STYLING*/
  width: 100%;
  text-transform: uppercase;
  z-index: 30;
  /*#endregion GENERAL NAV STYLING*/
  /*#region HAMBURGER BUTTON and SLIDEOUT MENU STYLING*/
  /*#endregion HAMBURGER BUTTON and SLIDEOUT MENU STYLING*/
  /*#region STANDARD NAV BAR STYLING*/
  /*#endregion STANDARD NAV BAR STYLING*/
}
nav.index, nav.blog {
  position: absolute;
}
nav.contact {
  position: relative;
}
nav label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
nav li {
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
nav li:hover, nav li:focus {
  border-bottom: 1px solid grey;
}
nav .hamburgerMenu {
  position: fixed;
  top: 0;
  left: -100px;
  margin-top: 1vh;
  margin-left: 1vh;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #808080;
  -webkit-box-shadow: 0px 0px 3px #808080;
          box-shadow: 0px 0px 3px #808080;
  background-color: rgba(255, 255, 255, 0.5);
}
@media only screen and (max-width: 768px) {
  nav .hamburgerMenu {
    left: 0;
  }
}
nav .hamburgerMenu i {
  font-size: 1.8rem;
}
nav .hamburgerMenu h2 {
  margin-bottom: 1.25vh;
}
nav .hamburgerMenu input[type=checkbox] {
  opacity: 0;
  position: absolute;
}
nav input[type=checkbox]:checked ~ .slideoutMenu {
  left: 0px;
}
nav .slideoutMenu {
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 20;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  background-color: #F6F6F6;
  height: 100vh;
  width: 320px;
  border-right: 2px solid #808080;
  -webkit-box-shadow: 1px 0px 1px #808080;
          box-shadow: 1px 0px 1px #808080;
  padding-top: calc(1vh + 20px);
  padding-left: calc(1vh + 20px);
}
nav .slideoutMenu label {
  display: inline;
}
nav .slideoutMenu i {
  margin-bottom: 5vh;
}
nav .slideoutMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0;
}
nav .slideoutMenu ul li {
  width: 60%;
  margin-top: 2vh;
}
nav .slideoutMenu ul .divisionLine {
  width: 80%;
  padding: 1vh 0;
  border-width: 2px;
}
nav .slideoutMenu ul li:last-child a {
  position: relative;
}
nav .slideoutMenu ul li:last-child a::after {
  content: "2";
  position: absolute;
  top: 0.1rem;
  right: -25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #C3DAB7;
  font-family: "Open Sans";
  font-size: 0.5rem;
  font-weight: bold;
}
nav .wrapper, nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 1000px) {
  nav .wrapper h1, nav ul h1 {
    margin: 3vh 0;
  }
}
@media only screen and (max-width: 768px) {
  nav .wrapper h1, nav ul h1 {
    margin-left: calc(1vh + 64px);
  }
}
nav .wrapper ul:first-of-type li,
nav .wrapper ul:last-of-type li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media only screen and (max-width: 768px) {
  nav .wrapper ul:first-of-type li,
nav .wrapper ul:last-of-type li {
    display: none;
  }
}
nav .wrapper ul:first-of-type li {
  margin-right: 36px;
}
@media only screen and (max-width: 1000px) {
  nav .wrapper ul:first-of-type li {
    margin-right: 24px;
  }
}
nav .wrapper ul:last-of-type li {
  margin-left: 36px;
}
@media only screen and (max-width: 1000px) {
  nav .wrapper ul:last-of-type li {
    margin-left: 24px;
  }
}
nav .wrapper ul:last-of-type li:last-child {
  position: relative;
}
nav .wrapper ul:last-of-type li:last-child::after {
  content: "2";
  position: absolute;
  right: -50%;
  bottom: -25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background-color: #C3DAB7;
  font-family: "Open Sans";
  font-size: 0.5rem;
  font-weight: bold;
}

footer {
  /*#region GENERAL FOOTER STYLING*/
  background-color: #333333;
  padding-top: 75px;
  /*#endregion GENERAL FOOTER STYLING*/
}
@media only screen and (max-width: 1000px) {
  footer {
    padding-top: 25px;
  }
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 1000px) {
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
footer h4 a,
footer p {
  color: #FFFFFF;
  margin: 0;
}
footer .divContact {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}
@media only screen and (max-width: 1000px) {
  footer .divContact {
    text-align: center;
  }
}
footer .divContact .textContainer {
  padding-bottom: 0;
}
footer .divContact .iconContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media only screen and (max-width: 1000px) {
  footer .divContact .iconContainer ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
footer .divContact .iconContainer ul li {
  margin-right: 0.6rem;
}
footer .divContact .iconContainer ul i {
  color: #FFFFFF;
}
footer .divRecent h4 {
  text-align: center;
}
footer .divRecent * + li {
  margin-top: 0.5rem;
}
footer .divRecent p {
  text-align: left;
}
footer .divRecent p::before {
  content: "•";
  display: inline-block;
  width: 0.7rem;
  margin-left: 0.7rem;
}
footer .divSubscribe {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
}
@media only screen and (max-width: 1000px) {
  footer .divSubscribe {
    text-align: center;
  }
}
footer .divSubscribe .textContainer {
  padding-bottom: 24px;
}
@media only screen and (max-width: 1000px) {
  footer .divSubscribe .textContainer {
    padding-top: 0;
  }
}
footer .divSubscribe p {
  display: inline-block;
  padding-left: 0.6rem;
  margin-top: 20px;
}
footer .divSubscribe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media only screen and (max-width: 1000px) {
  footer .divSubscribe form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
}
footer .divSubscribe button {
  background-color: #C3DAB7;
}
footer .divSubscribe button:hover {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
}
footer .divSubscribe button:focus {
  border: 2px solid orange;
}
footer > .textContainer {
  text-align: center;
}
footer > .textContainer h4 {
  padding: 0px 2rem;
  color: #FFFFFF;
}

header.index {
  position: relative;
  display: block;
  height: 95vh;
  background-image: url("../assets/home-1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header.index::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  display: block;
  z-index: 20;
  height: 160px;
  width: 1px;
  background-color: #808080;
}

main.index section.sectionBranding {
  padding-top: 200px;
  padding-bottom: 100px;
  background-color: #C3DAB7;
}
main.index section.sectionBranding .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.index section.sectionBranding .imageContainer {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.index section.sectionBranding .imageContainer img:first-child {
  position: absolute;
  top: -64px;
  left: -96px;
  z-index: 10;
}
main.index section.sectionBranding .imageContainer img:last-child {
  width: 50vw;
  max-width: 500px;
}
main.index section.sectionBranding .contentContainer {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5vw;
}
main.index section.sectionBranding .textContainer {
  max-width: 400px;
  text-align: center;
}
main.index section.sectionCarousel .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.index section.sectionCarousel i {
  font-size: 1.6rem;
}
main.index section.sectionCarousel i:last-of-type {
  color: #808080;
}
main.index section.sectionCarousel .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  max-width: 1000px;
}
main.index section.sectionCarousel img {
  max-width: 300px;
  border-radius: 50%;
}
main.index section.sectionCarousel p {
  margin-top: 50px;
  text-align: center;
}
main.index section.sectionOfferings {
  background-image: url("../assets/home-4.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main.index section.sectionOfferings .wrapper {
  margin: 0 5%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 864px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 45px;
}
main.index section.sectionOfferings .contentContainer {
  -ms-flex-preferred-size: calc(50% - 45px);
      flex-basis: calc(50% - 45px);
  padding-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main.index section.sectionOfferings .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  border: 0.1rem solid #000000;
}
main.index section.sectionOfferings .iconContainer i {
  display: block;
  font-size: 1.6rem;
  text-align: center;
  width: 3.2rem;
  height: 1.6rem;
}
main.index section.sectionOfferings .textContainer {
  padding: 0 0 0 40px;
}
main.index section.sectionOfferings .textContainer h3 {
  margin: 0;
}
main.index section.sectionTeam {
  position: relative;
  padding-bottom: 25px;
}
main.index section.sectionTeam::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: block;
  z-index: 20;
  height: 100px;
  width: 1px;
  background-color: #808080;
}
main.index section.sectionTeam .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.index section.sectionTeam .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin: 75px auto;
  max-width: 1152px;
}
main.index section.sectionTeam .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 40px;
}
main.index section.sectionTeam .textContainer:first-of-type {
  width: 564px;
  height: 270px;
  background-color: #F6F6F6;
}
main.index section.sectionTeam .textContainer:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 270px;
  height: 270px;
}
main.index section.sectionTeam .imageContainer {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: #F6F6F6;
}
main.index section.sectionDropUs {
  padding: 0;
  background-color: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main.index section.sectionDropUs .wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.index section.sectionDropUs .wrapper > * {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0;
}
main.index section.sectionDropUs .textContainer {
  max-width: 50%;
  padding: 50px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
main.index section.sectionDropUs p {
  margin-bottom: 25px 0;
}
main.index section.sectionDropUs .imageContainer {
  max-width: 960px;
}
main.index section.sectionDropUs img:hover {
  -webkit-transform: none;
          transform: none;
}

header.blog {
  position: relative;
  display: block;
  height: 95vh;
  background-image: url("../assets/blog-1.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

main.blog section {
  padding: 50px 0;
}
main.blog h2 {
  font-size: 2.1rem;
  font-weight: bold;
}
main.blog h3 {
  display: inline-block;
  font-size: 1.1rem;
  font-weight: bold;
  padding-bottom: 12px;
}
main.blog .sectionPost .blogInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.blog .sectionPost .blogInfo img {
  border-radius: 50%;
}
main.blog .sectionPost .blogInfo .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.blog .sectionPost .blogInfo .contentContainer.userInfo {
  margin-right: auto;
}
main.blog .sectionPost .blogInfo .contentContainer.postInfo {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main.blog .sectionPost .blogInfo .contentContainer p {
  color: grey;
}
main.blog .sectionPost .blogInfo .contentContainer .textContainer {
  margin-left: 2rem;
}
main.blog .sectionPost .blogInfo .contentContainer .textContainer p {
  margin-top: 0.4rem;
  margin-bottom: 0;
}
main.blog .sectionPost .iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.9rem;
}
main.blog .sectionPost .iconContainer * + * {
  margin-left: 0.8rem;
}
main.blog .sectionRelated .contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
main.blog .sectionRelated .contentContainer .imageContainer {
  padding-top: 36px;
}
main.blog .sectionComments .divComment {
  padding-top: 36px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
main.blog .sectionComments .divComment .imageContainer {
  padding: 0;
}
main.blog .sectionComments .divComment .imageContainer img {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
main.blog .sectionComments .divComment .textContainer {
  position: relative;
  margin-left: 36px;
  width: 100%;
  padding: 16px;
  background-color: #F6F6F6;
}
main.blog .sectionComments .divComment h4::before {
  content: "◀";
  font-size: 48px;
  color: #F6F6F6;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

header.contact img {
  position: relative;
  z-index: -10;
  min-height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}
header.contact img:hover {
  -webkit-transform: none;
          transform: none;
}
header.contact .textContainer {
  padding: 0;
}
header.contact .divisionLine {
  position: relative;
  z-index: -10;
  top: -100px;
  border: 1px solid #000000;
  width: 32px;
}
header.contact h2 {
  position: relative;
  top: -3.1rem;
  z-index: -10;
  font-size: 2.1rem;
  font-weight: bold;
  word-spacing: 9999rem;
}

main.contact h3 {
  font-size: 1rem;
}
main.contact h4 {
  font-size: 0.8rem;
}
main.contact h3, main.contact h4 {
  font-weight: bold;
  margin-bottom: 5px;
}
main.contact section {
  padding: 50px 0;
}
main.contact section.sectionContactDetails .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main.contact section.sectionContactDetails .wrapper > .textContainer {
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 0;
}
main.contact .contactInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
main.contact .contactInfoContainer .contentContainer {
  -ms-flex-preferred-size: 38%;
      flex-basis: 38%;
  padding: 48px 0;
  padding-left: min(48px, 3vw);
  padding-right: 12px;
}
main.contact .contactInfoContainer .contentContainer:first-of-type, main.contact .contactInfoContainer .contentContainer:last-of-type {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 31%;
      flex-basis: 31%;
}
main.contact .contactInfoContainer .contentContainer:not(:first-of-type) {
  border-left: 2px solid #F6F6F6;
}
main.contact .contactInfoContainer .textContainer {
  margin-top: 14px;
  padding: 0;
}
main.contact i {
  font-size: 48px;
}
main.contact p {
  margin: 0;
}
main.contact section.sectionLargeForm {
  padding: 0;
}
main.contact section.sectionLargeForm .imageContainer {
  padding: 50px 0 0 0;
}
main.contact section.sectionLargeForm img:hover {
  -webkit-transform: none;
          transform: none;
}